<section class="section-wrapper">
  <h1>Welcome to the private posts</h1>
  <div *ngIf="loading" class="loading-indicator"><loader /></div>
  <div *ngIf="!loading">
    <div
      class="posts-container"
      *ngIf="post.title.length > 1; else errorTemplate"
    >
      <div class="post-card">
        <img [src]="post.image" alt="{{ post.title }}" class="post-image" />
        <div class="post-content">
          <h2 class="post-title">{{ post.title }}</h2>
          <p class="post-description">{{ post.description }}</p>
        </div>
      </div>
    </div>
    <ng-template #errorTemplate>
      <h1 style="color: rgb(153, 57, 57)">Oops!, Something went wrong.</h1>
    </ng-template>
  </div>
</section>
